@font-face {
  font-family: "Poppins";
  src: url(font/Poppins-Regular.ttf);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  background: transparent;
  height: 85px;
  padding: 0 10%;
  position: relative;
}

.nav-menu {
  display: flex;
  gap: 50px;
  color: #2e266f;
  text-align: center;
  font-size: 18px;
}

.nav-menu a {
  text-decoration: none;
  color: #2e266f;
}
.nav-menu a:visited {
  text-decoration: underline;
}
.nav-menu a:hover {
  text-decoration: underline;
}

.nav-menuright {
  display: flex;
  align-items: center;

}
.nav-menuright a {
  color: #000;
  padding-left: 10px;
  text-decoration: none;
}
